* {
    padding: 0;
    margin: 0;
    transition-duration: 0.3s;
}

h2 {
    text-align: center;
}

.invisible {
    display: none !important;
}

.form {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: auto;
    column-gap: 20px;
    border-radius: 7px;
    border: 1px solid;
    padding: 30px;
}

.form-input {
    margin-bottom: 10px;
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid;
    position: relative;
}

.form-input:hover {
    border: 1px solid rgb(106, 183, 211);
}

.btn {
    margin-top: 15px;
    height: 30px;
    background-color: rgb(122, 230, 122);
    border: 1px solid rgb(93, 171, 93);
    color: white;
    position: relative;
}

.btn:hover {
    background-color: rgb(93, 171, 93);
    border: 1px solid rgb(122, 230, 122);
}

.btn:active {
    top: 3px;
}

.blck {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    color: grey;
}

.top-btn {
    margin-left: 15px;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
}

#login-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
}

.blue-btn {
    background-color: rgb(58, 175, 218);
    border: 1px solid rgb(60, 151, 184);
}
.blue-btn:hover {
    background-color: rgb(97, 198, 234);
}

.red-btn {
    background-color: rgb(255, 80, 80);
    border: 1px solid rgb(212, 73, 73);
}

.red-btn:hover {
    background-color: rgb(231, 90, 90);
}